.title{
    text-align: center;
    color: rgba(20,0,20,1);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin:70px 0 30px;

}
.title h2{
    font-size: 32px;
    color: #04151F;
    margin-top: 5px;
    text-transform: none;
}