.programs {
  margin: 80px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.program img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
.program {
  flex-basis: 31%;
  position: relative;
}
.caption {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left:0;
  right: 0px;
  bottom: 0;
  background: rgba(20, 0, 20, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: 0.4s ease-in-out;
  padding-top: 70%;

  
}
.caption img {
  width: 60px;
  margin-bottom: 10px;
  margin-right: 200px;

 
}

.program:hover .caption {
  opacity: 0.8;
  padding-top: 0;
}

@media(max-width:650px){
  .programs{
    flex-direction: column;
  }
  .program{
    flex-basis: 100%;
    margin: 20px;
  }

}